<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Edit Account</title>
    <link rel="stylesheet" href="./menu.css">
</head>
<body>
    
<ul>
  <li><a href="./login.html">Login</a></li>
  <li><a href="./registration.html">Register</a></li>  
  <li><a href="./myAccount.html">My Account</a></li>
  <li><a href="./myCart.html">My Cart</a></li>
  <li><a href="./faq.html">FAQs</a></li>
</ul>         
    
 
<h1>Bundle Types</h1>

<div class="row">
  <div class="column">
    <img src="http://www.w3schools.com/howto/img_nature.jpg" style="width:100%">
  </div>
 <div class="column">
    <img src="http://www.w3schools.com/howto/img_fjords.jpg" style="width:100%">
  </div> 
<div class="column">
    <img src="http://www.w3schools.com/howto/img_fjords.jpg" style="width:100%">
  </div> 
</div>
    
<div class="row">
  <div class="column">
    <img src="http://www.w3schools.com/howto/img_nature.jpg" style="width:100%">
  </div>
 <div class="column">
    <img src="http://www.w3schools.com/howto/img_fjords.jpg" style="width:100%">
  </div> 
<div class="column">
    <img src="http://www.w3schools.com/howto/img_fjords.jpg" style="width:100%">
  </div> 
</div>
    
    
</body>
</html>