<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Review Order</title>
    <link rel="stylesheet" href="./menu.css">
</head>
<body>
    
<ul>
  <li><a href="./login.html">Login</a></li>
  <li><a href="./registration.html">Register</a></li>  
  <li><a href="./myAccount.html">My Account</a></li>
  <li><a href="./myCart.html">My Cart</a></li>
  <li><a href="./faq.html">FAQs</a></li>
</ul>         
    
 
<h1>View All Orders</h1>
<p></p> 
    
<form action="UserServlet" method="post">

    <fieldset>
        <legend>Change Password</legend>      
            <label>Old Password: </label>
            <input type="password" name="password" id="loginPassId" placeholder="Enter Password"/><br/>
            <label>New Password: </label>
            <input type="password" name="password" id="loginPassId" placeholder="Enter Password"/><br/>
            <label>Confirm Password: </label>
            <input type="password" name="password" id="loginPassId" placeholder="Enter Password"/><br/>
        
    <input type="Submit" value="Change">
    </fieldset>
</form>
    
<form action="AccountServlet" method="post">
   <fieldset>
        <legend>Payment</legend>       
            <label>Name: </label>
            <input id="checkoutNameId" type="text" name="name">   
            <label>Billing Address: </label>
            <input id="billAddressId" type="text" name="billingAddress">
            <br/>
            <label>Credit Card Number: </label>
            <input id="checkoutNameId" type="text" name="name">   
             <br/>
            <label>Expiration Date: </label>
            <input id="expireDate" type="date" name="expireDate">  
             <br/>
            <label>Security Code: </label>
            <input id="secureCode" type="text" name="secureCode">
            <br/>
       
    <input type="Submit" value="Change">
    </fieldset> 
</form>
    
    <button href="./browseBundle.html">Cancel</button>
    
</body>
</html>