<!DOCTYPE html>
<html>
<head>
<meta charset="">
<title>Edit Account</title>
    <link rel="stylesheet" href="./menu.css">
     <script>
       function message(){
        alert("This item has been added to your cart!");   
       }
    </script>
</head>
<body>
    
<ul id="menu">
  <li><a href="./login.html">Login</a></li>
  <li><a href="./registration.html">Register</a></li>  
  <li><a href="./myAccount.html">My Account</a></li>
  <li><a href="#">My Cart</a></li>
  <li><a class="active" href="#">FAQs</a></li>
</ul>         
    
 
<h1>Frequently Asked Questions</h1>

<ol>
    <li>What is Rentasport?</li>
	<p><p>This web application allows users to rent sporting equipment to enhance active consumers so minimize the time, financing, <br> 
		and hassle of purchasing equipment. The users therefore don't have to fully commit to purchasing these items and can simply <br> 
		rent them for their convenience. We will be operating solely online and our equipment will be shipped from our warehouse. <br> 
		This is convenient for users who want to try out a lifestyle or sport without the commitment. Users create an account and <br> 
		simply rent sport bundles or individual equipment. Consumers may think that if they want to go camping one time during a year,<br> 
		there should be a service where they can simply rent that equipment to try out camping. This is where our business comes in <br> 
		and gives consumers that option. </p>
    <li>How does the company benefit consumers?</li>
	<p> We are a central site for all sporting needs and allow easy access to sport equipment without the full financial investment <br>
	and we offer free memberships. It saves the user space, eliminates upkeep of equipment, eliminates repeat spending, and saves <br>
	 the user money and time </p>
    <li>How much is shipping?</li>
    <p>Shopping is free!</p>
    <li>How was the website created?</li>
    <p>Toni-Ann: Front-End(HTML/CSS & Database) + Back-End of HTML(browseBundle, sportPackage, myAccount)
    <br>Michael: Back-End of HTML(homepage, login, registration)
    <br>Julian:  Back-End of HTML(editAccount, modifyOrders, reviewOrders) 
    <br>Patrick: Back-End of HTML(myCart, checkout, checkoutReview)
    </p>
</ol>

</body>
</html>